<p>
log-in works!
</p>
<!---->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for = "loginName">Login Name</label>
  <input id="loginName" type="text"  formControllName="loginName">
  
  <label for="loginPassword">Passwort</label>
  <input id ="loginPassword" type="password">

  <p>Complete the form to enable button.</p>
  <!--loginform.valid is disabled weil keine validation jetzt implementiert ist-->
<button type="submit" [disabled]="!loginForm.valid">Submit</button>


</form>
<!--zeigt den validationssatus des Formulars an-->
<p>Form Status: {{ loginForm.status }}</p>